@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

body{
    font-family: "Commissioner", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image:
        url(../img/bg.png);
    background-repeat: no-repeat;          
    background-size: cover;                
    background-position: center;           
    background-color: transparent;
    color: #eee5; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    height: 100px;
}

header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.light {
    font-size: 120px;
    background-image: conic-gradient(
        from var(--rotate) at 29% 10%,
        #0b1012 40%,
        #F4F7FC55,
        #0b1012 60%
    );
    background-clip: text;
    -webkit-background-clip: text; /* Safari/Chrome */
    color: transparent;
    animation: rotatelight 4s ease-in-out infinite alternate;
}


@keyframes rotatelight{
    from{
        --rotate: 0.15turn;
    }
    to{
        --rotate: -0.15turn;
    }
    
}